<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haggbart.dat153.namequiz">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NameQuiz">
        <activity
            android:name=".quiz.QuizActivity"
            android:exported="false"
            android:label="Quiz"/>
        <activity
            android:name=".AddEntryActivity"
            android:exported="false"
            android:label="Add entry" />
        <activity
            android:name=".DatabaseActivity"
            android:exported="false"
            android:label="Database" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
